.header {
  text-align: center;
  padding-top: 100vh;
  margin-top: auto;
}

.todos-logic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.add-button {
  padding: 8px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.todos-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.todo-text {
  flex-grow: 1;
  margin-left: 5px;
}

.todo-delete {
  color: red;
  cursor: pointer;
}

.completed .todo-text {
  text-decoration: line-through;
}
